pandas
numpy
matplotlib
jupyter
approvaltests
boto3
coverage
mlflow
mysql
numpy
pandas
polars
pyproj
pyspark
pytest
requests
scikit-learn
scipy
shapefile
shapely
tensorflow
torch
transformers
unittest
xgboost